<form action="/users/login" method="post" class="form-login">
    <h2 class="form-signin-heading">WELCOME TO USERBASE</h2>

    <label for="email">Email</label>
    <input type="text" class="form-control" readonly onfocus="this.removeAttribute('readonly');" name="email">
    <label for="password">Password</label>
    <input type="password" class="form-control" readonly onfocus="this.removeAttribute('readonly');" name="password">
    <br>
    <input type="submit" value="Login" class="btn btn-dark">
    <a href="/signUp" class="btn btn-dark">Sign Up</a>
</form>